<section id="article-random">
    {{#if this.image_url}}
    <img src=" {{this.image_url}} " alt="image of {{this.name}}">
  {{/if}}

  {{#unless this.image_url}}
    <img src="/images/beer.png" alt="beer image">
  {{/unless}}
    
    <article>
        <h1>{{this.name}}</h1>
        <p class="beer-hashtag"># {{this.tagline}}</p>
        <p id="random-description">{{this.description}}</p>
        <h2>Food Pairing</h2>
        <ul>
            {{#each this.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </article>
</section>