<article class="beer-card">
<a href="/beers/{{this.id}}"><img src="{{this.image_url}}" alt="image of {{this.name}}"></a>
<h2>{{this.name}}</h2>
<p class="beer-hashtag"># {{this.tagline}}</p>
<p class="beer-card-description">{{this.description}}</p>
</article>